<p id="notice"><%= notice %></p>

<p>
  <b>Suck:</b>
  <%= @dummy_resource.suck %>
</p>


<%= link_to 'Edit', edit_dummy_resource_path(@dummy_resource) %> |
<%= link_to 'Back', dummy_resources_path %>
